@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pink: #EC5BAA;
    --blue: #3E8EDE;
    --yellow: #EAC43D;
    --font: 'Lato', sans-serif; 
}

* {
    font-family: var(--font);
}

body {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    max-width: 500px; 
    background-color: var(--blue);
    min-height: 150vh;
}

.wcd-blue {
    color: var(--blue);
}

.wcd-pink {
    color: var(--pink);
}

.wcd-yellow {
    color: var(--yellow);
}
