@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pink: #EC5BAA;
    --blue: #3E8EDE;
    --yellow: #EAC43D;
    --font: 'Lato', sans-serif; 
}

* {
    font-family: var(--font);
}

body {
    overflow: hidden;
}

#app {
    max-width: 500px; 
    background-color: var(--blue); 
    height: 200vh;
}