@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pink: #EC5BAA;
    --blue: #3E8EDE;
    --yellow: #EAC43D;
    --font: 'Lato', sans-serif;
}

* {
    font-family: var(--font);
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    max-width: 500px;
    min-height: 150vh;
}

.wcd-blue {
    color: var(--blue);
}

.wcd-background-blue {
    background-color: var(--blue) !important;
}

.wcd-pink {
    color: var(--pink);
}

.wcd-background-pink {
    background-color: var(--pink) !important;
}

.wcd-yellow {
    color: var(--yellow);
}

.wcd-background-yellow {
    background-color: var(--yellow) !important;
}

.w-max-500 {
    max-width: 500px !important;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
}

.fade-in {
    animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
